
.title1 {
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
  }
.desc1 {
  font-size: 18px;
}
@media (max-width: 426px) {
  .desc1 {
    font-size: 16px;
  }
}

  .text-2rem
{
    font-size: 2rem !important;
}

.mb-10
{
    margin-bottom: 5rem !important;
}

.fw800{font-weight: 800;}
.fw600{font-weight: 600;}
.main-content section {
  display: inline-block;
  width: 100%;
  padding: 4rem 0;
}
.titlesect {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 426px) {
  .titlesect {
    font-size: 1.75rem;
  }
}

.w600{max-width: 600px;}
.m0-auto{margin:0 auto}
.bg-white-2{background-color: #F4F4F4;}

.title2 {
  font-size: 2.2rem;
  font-weight: bold;
}


.btn-xl {
  padding: 1rem 2.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .center-small {text-align: center;}
}
.image-box{text-align: center;}
.imgcta img{width: -webkit-fill-available;}
@media (min-width:1024px) {
  .imgcta img{margin-top:-6rem;};
}
@media (max-width:768px) {
  .imgcta img{padding: 3rem 0};
}
.footlanding{border-bottom: 8px solid var(--cyan);}


.wcuslide {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  margin: 5rem 0 0;
}
.wcuitem {
  width: 33.33%;
  padding: 0 20px;
}
.wcuwrap {
  text-align: center;
}
.wcuwrap img {
  margin-bottom: 1.5rem;
}
.wcuwrap h3 {
  font-size: 1.5rem;
  padding: 0 2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}


.slick-dots {
  margin: 1.5rem auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  font-size: 0;
  padding: 0 5px;
}
.slick-dots li button {
  border: 0;
  background: var(--primary);
  padding: 10px;
  border-radius: 25px;
  opacity: 0.2;
}
.slick-dots .slick-active button {
  opacity: 1;
}
.heroimage{position:relative}.heroimage .basehero{width:100%}.gear1{position:absolute;bottom:20%;right:13%}.gear2{position:absolute;bottom:7%;right:1%}.rocket{position:absolute;top:0;right:0}

.gear1,.gear2{
  transform: rotate(0deg);
    transition: transform 0.7s linear;
    animation: rotate 7s infinite linear;
}
.rocket{
  animation: hangme 1.5s infinite;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes hangme {
  0% {     transform: rotate(-3deg) translateX(10%); }
  50% {   transform: rotate(0deg) translateX(0%); }
  100% {   transform: rotate(-3deg) translateX(10%); }
}

.waves {position: relative; width: 100%; height: 20vh; margin-bottom: -7px; min-height: 100px; max-height: 150px; margin-top: 4rem;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}

.introimg img{width: 78%;}

.presslogo{margin:3rem 0 auto;list-style:none;display:flex;flex-wrap:wrap;padding:0;justify-content:center}.presslogo li{width:33.33%;padding:15px;margin-bottom:1rem}.presslogo li img{width:100%}

.posthome{display:flex;flex-wrap:wrap;margin:2rem -28px}
.feeditem{width:33.33%;padding:0 15px}
.feedwrap{background:#fff}
.feedwrap img{width:100%}
.feedcontent{padding:1.2rem}
.feedcontent h2{font-size:16px;font-weight:600;margin-bottom:1rem}
.feedcontent span{text-transform:uppercase;margin-bottom:10px;display:inline-block;font-size:14px}

.proofnum{display:flex;flex-wrap:wrap;margin:3rem -15px}
.itemproof{width:25%;padding:0 15px;border-right:1px solid rgba(1,1,1,0.08)}
.wrapproof h2{font-size:2.8rem;font-weight:700}
.wrapproof{text-align:center}
.wrapproof h4{text-transform:uppercase;font-size:20px;margin-bottom:5px}
.proofnum .itemproof:last-child{border:0}

.proofnum2{display:flex;flex-wrap:wrap;margin:3rem -15px}
.itemproof-light{width:25%;padding:0 15px;border-right:1px solid #e5a1a4}
.itemproof-light:last-child{border:0}

.w800{max-width: 800px; margin: 0 auto;}

.statsol{margin:4rem -15px;display:flex;flex-wrap:wrap}
.itemstatsol{border-right:1px solid rgba(255, 255, 255, 0.22); padding: 0 15px;width:25%}
@media (max-width: 768px) {
  .itemstatsol:nth-child(2){border: 0;margin-bottom: 20px;}
}
.wrapstatsol{text-align:center}.statsol .itemstatsol:last-child{border: 0;}
.roundnum{font-size:2.5rem;color:var(--warning);padding:2rem 1.2rem;border:1px solid var(--warning);border-radius:100%;display:inline-block;width:135px;text-align:center;margin-bottom:2rem}

.atslogo{display:flex;flex-wrap:wrap;list-style:none;margin:4rem -20px 1rem;padding:0}
.atslogo .itemats{width:25%;float:left;padding:0 25px}
.atslogo li img{width:100%}

.title3{color:var(--cyan);font-size:2.2rem;font-weight: 800;}
.title3 b{color:var(--danger)}
.title4{font-weight:700;text-align:center;font-size:2.2rem;max-width:750px;margin:0 auto}
@media (max-width: 426px) {
  .title3 {
    font-size: 1.9rem;
  };
  .title4 {
    font-size: 1.9rem;
  };
}
.main-content .navbar-top {
  background: var(--primary);
}

.desc2{display:block;font-size:18px;text-transform:uppercase;font-family:'Montserrat';font-weight:600;color:var(--warning);margin-bottom:15px;padding-right:10%}
.title5{font-size:2rem;font-weight:800;line-height:normal;text-align: left;}
.o-center{display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%;}
.m800{max-width: 600px; margin: 0 auto; text-align: center;}

.stepby{margin:4rem -10px 0;display:flex;flex-wrap:wrap}
.itemstep{width:25%;padding:0 10px;position: relative;}
.wrapstep{display:flex;flex-direction:column;text-align:center;align-items:center}
.wrapstep img{width:80px}

.wrapstep span{margin-top:15px;font-size:20px;font-weight:700;color:var(--primary)}

@media (max-width: 767px) {
  .itemstep:after {
    content:"";
    background:rgba(1,1,1,0.25);
    padding:1px;
    position:absolute;
    width:40%;
    bottom:72%;
    right:-20%
  }
  /* .itemstep:nth-child(2):after{
    transform: rotate(-45deg);
    bottom:-10%;
    right:80%
  } */
  .itemstep:nth-child(2):after{display: none;}
}

@media (min-width: 768px) {
  .itemstep:after {
    content:"";
    background:rgba(1,1,1,0.25);
    padding:1px;
    position:absolute;
    width:40%;
    bottom:72%;
    right:-20%
  }
}

@media (min-width: 1024px) {
  .itemstep:after {
    content:"";
    background:rgba(1,1,1,0.25);
    padding:1px;
    position:absolute;
    width:50%;
    bottom:63%;
    right:-25%
  }
}

.stepby .itemstep:last-child:after{display:none}

.bg-decor {
  background-size: cover;
  background-position: center;
}
/* 
@media (max-width: 768px) {
  .bg-decor {
    position: relative;
  }
} */
@media (max-width: 426px) {
  .atslogo {
    width: 100%;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 8px;
  background: #e5a1a4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background:  var(--cyan);
  cursor: pointer;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--primary);
}

/* .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} */

.wrapstep span{margin-top:15px;font-size:20px;font-weight:700;color:var(--primary)}
.itemstep:after{content:"";background:rgba(1,1,1,0.25);padding:1px;position:absolute;width:50%;bottom:63%;right:-68px}
.stepby .itemstep:last-child:after{display:none}

.listitem{margin:0;padding-left:0;list-style:none}
.listitem li{margin-bottom:10px;color:#212529!important}
.listitem li:before{content:"-";margin-right:10px}

.wcuwrap h4{font-size: 1.2rem; margin-bottom: 1.2rem; font-weight: bold; padding: 0px 3%;}

.dash {
  list-style-type: none;
}
.dash li::before {
  content: '- ';
  margin-right: 5px;
}

@media (max-width: 768px) {
  .res-img-top {
    margin-bottom: 1.5rem;
  }
  .res-img-bottom {
    margin-top: 1.5rem;
  }
}